<div class="" *ngIf="product">

    <div>
        <img [src]="product.image" alt="">
    </div>
    <div>
        <ul>
            <li>Nombre: {{ product.title }}</li>
            <li>Precio: {{ product.price | currency }}</li>
        </ul>
        <p>{{ product.description }}</p>
    </div>
    <button class="btn-primary" (click)="createProduct()">Crear</button>
    <button class="btn-primary" (click)="updateProduct()">Update</button>
    <button class="btn-primary" (click)="deleteProduct()">Delete</button>
</div>